include LICENSE README
recursive-include articles *.py *.html *.js
recursive-include docs/ *
recursive-include articles/fixtures/ *
recursive-include articles/static/ *
recursive-include articles/templates/ *